.AttachmentView-root {
  display: inline-block;
  margin-right: 10px;
  border: 1px solid blue;
  border-radius: 3pt;
  padding: 5px 0;
  background-color: #d6f5ff;
}
.AttachmentView-root:last-child {
  margin-right: 0;
}

.AttachmentView-link {
  display: inline-block;
  text-decoration: none;
  margin: 0 10px;
}

.AttachmentView-type {
  font-weight: bold;
}

.AttachmentView-name {
  font-style: italic;
}

.AttachmentView-remove {
  margin: 0 10px;
}
