.App-header {
  background-color: darkblue;
  color: white;
  height: 48px;
  font-size: 24px;
  line-height: 44px;
  padding: 0 10px;
}
.App-header * {
  color: white;
}

.App-body {
  padding: 10px;
}

.App-page-selectors {
  margin-bottom: 10px;
}

.App-page-selector {
  margin-right: 10px;
  padding: 5px 15px;
  font-size: 130%;
}

.App-page-selector-highlighted {
  color: white;
  background-color: blue;
}
