.App-root {
}

.App-header {
  background-color: darkblue;
  color: white;
  height: 48px;
  font-size: 24px;
  line-height: 44px;
  padding: 0 10px;
}
.App-header * {
  color: white;
}

.App-body {
  padding: 10px;
}
