.CardView-root {
  border: 1px solid green;
  border-radius: 3pt;
  padding: 10px;
  background-color: #dcffdc;
  margin-bottom: 10px;
}
.CardView-root:last-child {
  margin-bottom: 0;
}

.CardView-remove {
}

.CardView-main {
  padding: 10px 0;
}

.CardView-attachments {
}
